<footer class="flex flex-col justify-center items-center">
  <section class="w-full bg-qp-primary flex justify-center">
    <div
      class="max-w-7xl mx-16 py-10 flex flex-col md:flex-row gap-12 w-full items-center justify-between"
    >
      <img
        class="w-[332px] h-[111px] cursor-pointer"
        src="../../../assets/img/logo.svg"
        alt="Logo Quatro Patas"
        [routerLink]="['/']"
      />

      <div class="flex flex-col font-nunito gap-8 max-w-[430px]">
        <span class="text-lg font-bold">Quatro Patas Adoção de Animais</span>
        <span class="text-lg">
          Rua das Oliveiras, 158 | Nova Floresta - São Paulo, SP 13999-008
        </span>
        <span class="text-lg">(021) 9921-8282 ou (019) 9923-5050</span>
      </div>
    </div>
  </section>

  <section class="w-full bg-qp-quaternary flex justify-center">
    <div
      class="max-w-7xl text-xl mx-16 py-2 flex gap-12 w-full items-center justify-between text-white"
    >
      <span>Copyright 2022. Todos os direitos.</span>
      <span>Violência contra animais é crime. Denuncie 0800 600 6428 </span>
    </div>
  </section>
</footer>
