<section class="flex justify-center px-16 py-10 bg-qp-primary items-center">
  <div class="max-w-7xl flex gap-24 w-full items-center">
    <img
      class="w-[222px] h-[75px] cursor-pointer"
      src="../../../assets/img/logo.svg"
      alt="Logo Quatro Patas"
      [routerLink]="['/']"
    />
    <nav>
      <a
        class="font-amatic text-4xl font-bold capitalize"
        [routerLink]="['/regras']"
        routerLinkActive="!text-qp-secondary"
        >nossas regras</a
      >
    </nav>
  </div>
</section>
