<section class="flex justify-center py-16 relative">
  <section class="max-w-6xl w-full grid grid-cols-2 min-h-[800px]">
    <article class="max-w-[620px] col-span-2 md:col-span-1 pl-10">
      <h1 class="font-amatic text-7xl font-bold">Procurando um novo AMIGO?</h1>
      <p class="font-nunito max-w-[620px] text-[26px] mt-14">
        A <span class="font-bold">Quatro Patas</span> pode ajudar nessa missão!
        Doguinhos e Gatinhos estão esperando para fazer você feliz!
        <span class="flex">Adote agora mesmo.</span>
      </p>

      <div class="flex flex-col md:flex-row gap-8 mt-20">
        <button
          class="bg-qp-secondary flex justify-center items-center shadow-purple text-white rounded-[20px] h-20 w-[300px] text-[26px] font-normal"
          [routerLink]="['/lista-adocao']"
        >
          Adote agora
        </button>

        <button
          class="bg-white flex justify-center items-center shadow-purple text-qp-secondary border-qp-secondary border-[3px] rounded-[20px] h-20 w-[300px] text-[26px] font-medium"
          [routerLink]="['/regras']"
        >
          Nossas Regras
        </button>
      </div>
    </article>
    <div class="col-span-1 absolute right-0 hidden md:block">
      <img
        src="../../../assets/img/HomeDog.png"
        alt="Homem e cachorro | Desenho em formato de ilustração"
      />
    </div>
  </section>
</section>
